@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #e3e7eb;
}

nav {
  /* flex container */
  background-color: #f2f1f0;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.content-lr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  width: 300px;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 34px;
  padding-left: 0;
}

nav ul li {
  font-size: 20px;
}

.text-black {
  color: black;
}

nav ul li .active {
  color: rgb(227, 61, 0);
}

.nav-left {
  /* flex item */
  flex: 50%; /* mengatur lebarnya */
  /* background-color: red; */
}

.nav-right {
  /* flex item */
  flex: 50%;
  text-align: end;
  padding-top: 22px;
}

.nav-right a {
  background-color: black;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
}

.nav-right a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.active {
  font-weight: bold;
  color: black !important;
}

@media (max-width: 768px) {
  .hilang {
    display: none;
  }

  nav ul li {
    margin-left: 10px;
    margin-top: 8px;
  }
}

/* content */

.content-value {
  background-color: #ffffff;
  padding-right: 68px;
  padding-left: 68px;
  padding-top: 56px;
  padding-bottom: 63px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}

@media (max-width: 600px) {
  #mg-top-none {
    margin-top: 0;
  }
  .content-value {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  p,
  h1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mg-top-sekian {
    margin-top: 0;
  }
}

.content-value .value-value-1 {
  /* outline: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* content left */
.content-value .value-value-1 .left {
  width: 522px;
  height: 100%;
  box-sizing: border-box;
}

.content-value .value-value-1 .left p {
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
}

.content-value .value-value-1 .left .contact-button-download {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50px;
  /* justify-content: center; */
}

.content-value .value-value-1 .left .contact-button-download button {
  width: 159px;
  height: 50px;
  font-size: 22px;
  color: #ffffff;
  background-color: black;
  border-radius: 20px;
  margin-top: 20px;
}

.content-value .value-value-1 .left .contact-button-download button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.icon-left {
  margin-top: 40px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .content-value .value-value-1 .left .contact-button-download {
    justify-content: center;
  }

  .icon-left {
    justify-content: center;
  }
}

/* content right */
.content-value .value-value-1 .right {
  width: 442px;
}

.card {
  border-radius: 7px;
  box-shadow: 0px 2px 10px grey;
  background-color: #fefefe;
  width: 85%;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .card {
    width: 80%;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card img {
  width: 100%;
}

.card h3 {
  font-weight: bold;
}

.card h3 {
  margin-top: -10px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.link {
  color: blue;
}

.text-justify {
  text-align: justify;
}

.btn-black-rounded {
  background-color: black;
  border-radius: 9px;
  color: white;
  width: 100px;
  margin-right: 9px;
  text-align: center;
  font-size: 17px;
}

.btn-black-rounded:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.space-left {
  padding-left: 50px;
}

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
  margin-top: -80px;
  transition: margin-top 3s ease;
  /* margin-top: 0; */
}

.hamburger-nav-container a {
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* font-size: 5px; */
  transition: 1s;
}

.hamburger-nav-container .hamburger-contact-me {
  background-color: black;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 110px;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 600px) {
  #barsmenu {
    display: block;
    padding-right: 10px;
  }

  .bar1,
  .bar3 {
    background-color: black;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    margin-bottom: 4px;
    transition: 0.4s;
  }

  .bar2 {
    background-color: black;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    margin-bottom: 4px;
    transition: 0.1s;
  }

  .change .bar1 {
    transform: translate(0px, 8px) rotate(-225deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0px, -9px) rotate(225deg);
  }
}
