@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #ffffff;
}

nav {
  /* flex container */
  background-color: #f2f1f0;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.content-lr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  width: 300px;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 34px;
  padding-left: 0;
}

nav ul li {
  font-size: 20px;
}

.text-black {
  color: black;
}

.nav-left {
  /* flex item */
  flex: 50%; /* mengatur lebarnya */
  /* background-color: red; */
}

.nav-left ul li:nth-child(3) a {
  display: inline-block;
  width: 85px;
}

.nav-right {
  /* flex item */
  flex: 50%;
  text-align: end;
  padding-top: 22px;
  /* background-color: blue; */
}

.nav-right a {
  /* margin-top: 200px; */
  background-color: black;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
}

.nav-right a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.active {
  font-weight: bold;
  color: black !important;
}

@media (max-width: 768px) {
  .hilang {
    display: none;
  }

  .nav-left ul li:nth-child(3) #my-project {
    display: none;
  }

  nav ul li {
    margin-left: 10px;
    margin-top: 8px;
  }

  .nav-left ul li:nth-child(3) a {
    display: none;
  }
}

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
  margin-top: -80px;
  transition: margin-top 3s ease;
  /* margin-top: 0; */
}

.hamburger-nav-container a {
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* font-size: 5px; */
  transition: 1s;
}

.hamburger-nav-container .hamburger-contact-me {
  background-color: black;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 110px;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 600px) {
  #barsmenu {
    display: block;
    padding-right: 10px;
  }

  .bar1,
  .bar3 {
    background-color: black;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    margin-bottom: 4px;
    transition: 0.4s;
  }

  .bar2 {
    background-color: black;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    margin-bottom: 4px;
    transition: 0.1s;
  }

  .change .bar1 {
    transform: translate(0px, 8px) rotate(-225deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0px, -9px) rotate(225deg);
  }
}

/* content here /testimonial filter */

.content-star {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.content-star p {
  background-color: black;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}

.content-star p:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .content-star {
    width: 95%;
    margin-left: 10px;
    gap: 1px;
  }

  .content-star p {
    width: 50px;
  }

  .content-star p i {
    margin-left: 5px;
    width: 1px;
  }
}

/* content card  testimonials */
section .row-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section .row-card .col-card {
  width: 300px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1), 0px 0px 3px rgb(129, 129, 129);
  border-radius: 5px;
}

.col-card .img-control {
  width: 90%;
  margin: 10px auto;
  overflow: hidden;
  max-height: 200px;
  border-radius: 5px;
}

.row-card .col-card img {
  max-width: 100%;
  border-radius: 5px;
}

.col-card .testimonial-control p:nth-child(1) {
  margin: 15px;
  font-style: italic;
  font-size: 15px;
}

.col-card .testimonial-control p:nth-child(2) {
  margin: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-align: end;
}

.col-card .testimonial-control p:nth-child(3) {
  margin: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-align: end;
}
