* {
  font-family: "Roboto Condensed", sans-serif;
}

.bg-nav-color {
  background-color: #f4f3f3;
}

.hover-white:hover {
  background-color: #fff;
  color: #000;
}

.active {
  font-weight: bold;
}

.relative_password {
  /* border: 2px solid red; */
  position: relative;
}

.relative_password .icon-abso {
  position: absolute;
  top: 50%;
  right: 3%;
}

.pointer {
  cursor: pointer;
}

.dsp {
  display: none;
}
