* {
  font-family: "Roboto Condensed", sans-serif;
}

.bg-nav-color {
  background-color: #f4f3f3;
}

.hover-white:hover {
  background-color: #fff;
  color: #000;
}

.active {
  font-weight: bold;
}

.relative_password {
  /* border: 2px solid red; */
  position: relative;
}

.relative_password .icon-abso {
  position: absolute;
  top: 50%;
  right: 3%;
}

.pointer {
  cursor: pointer;
}

.dsp {
  display: none;
}

.pViewImage {
  width: 200px;
  max-height: 200px;
  overflow: hidden;
}
.viewImage {
  width: 200px;
}

.p-img {
  max-height: 270px;
}

.description-txt {
  max-height: 70px;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  /* home */
  .media-hp {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .media-card-p {
    padding-left: 0 !important;
  }

  .media-size-profile {
    width: 103.4% !important;
    margin-top: 50px !important;
    margin-left: 0 !important;
  }
  /* add project, contact me, edit my project, login, register */
  .w-full {
    width: 100% !important;
  }
  /* Detail */
  .media-detail {
    margin-top: 20px !important;
  }
}
